<h1>Show Tweet</h1>

<div class="card">
  <div class="card-header">
    Tweet #<%= @tweet.id %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @tweet.message %></p>
  </div>
  <div class="card-footer text-muted">
    <%= if @tweet.parent_id == nil do %>
      Number of retweets: <%= @tweet.retweeted_times %>
    <% else %>
      This is a retweet
    <% end %>
  </div>
</div>

<span><%= link "Back", to: Routes.tweet_path(@conn, :index) %></span>
